
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: start; 
    padding: 10px 20px;
}


.nav-links {
    width:500px;
    list-style-type: none;
    color: rgb(44, 43, 43);
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
    flex-grow: 1; 
    font-family: 'Neue Plak', sans-serif;
    font-weight:bold;
}


.nav-links li {
    display: inline;
}


.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/*styling for the SALE link */
.nav-links .sale {
    color: #c00;
}

/* Logo section*/
.logo img {
    height: 25px; 
    margin: 25px;
    
}
